<div class="card my-2">
  <div class="card-header">
    Add Vehicle
  </div>

  <div class="card-body">

    <div class="form-group">
      <label>Brand</label>
      <select class="form-control" [(ngModel)]="selectedBrandId" (focus)="loadBrands()" (change)="onBrandChange()">

        <option value="0">Marka Seçiniz</option>
        <option *ngFor="let b of brands" [value]="b.id">
          {{ b.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Model</label>
      <select class="form-control" [(ngModel)]="selectedModelId" [disabled]="!models.length">

        <option value="0">Model Seçiniz</option>
        <option *ngFor="let m of models" [value]="m.id">
          {{ m.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Year</label>
      <input #yil type="number" class="form-control">
    </div>

    <div class="form-group">
      <label>KM</label>
      <input #km type="number" class="form-control">
    </div>

    <div class="form-group">
      <label>Fuel Type</label>
      <input #yakitTuru class="form-control">
    </div>

    <div class="form-group">
      <label>Status</label>
      <input #status class="form-control">
    </div>

    <div class="form-check mb-2">
      <input #ilanda type="checkbox" class="form-check-input">
      <label class="form-check-label">İlanda</label>
    </div>
    <button class="btn btn-primary btn-sm" (click)="add(
          selectedBrandId,
          selectedModelId,
          yil.value,
          km.value,
          yakitTuru.value,
          status.value,
          ilanda.checked
         
        );
          selectedBrandId=0;selectedModelId=0; yil.value=''; km.value='';
      yakitTuru.value=''; status.value=''; ilanda.checked=false;" class="btn btn-primary btn-sm">
      Save
    </button>
  </div>
</div>


<div class="card" *ngIf="selectedVehicle">
  <div class="card-body">

    <span class="badge bg-warning text-dark">
      #{{ selectedVehicle.id }}
      <!-- {{ selectedVehicle.brand }} {{ selectedVehicle.model }} -->
    </span>

    <div class="input-group mt-2">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.brandName" placeholder="Brand">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.modelName" placeholder="Model">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.yil" placeholder="Yil">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.km" placeholder="KM">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.status" placeholder="status">
      <input type="text" class="form-control" [(ngModel)]="selectedVehicle.yakitTuru" placeholder="yakitTuru">

      <!-- <button class="btn btn-outline-secondary" type="button" *ngIf="isEditMode && !isUpdated" (click)="update()">
        Update
      </button> -->
      <button 
      class="btn btn-primary"
      [disabled]="!selectedVehicle"
      (click)="update()">
        Güncelle
     </button>
      <small *ngIf="isUpdated" class="text-success">
        Güncelleme başarılı
      </small>

    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    {{ title }}
  </div>


  <ul class="list-group list-group-flush">
    <li *ngFor="let vehicle of vehicless" (click)="onSelect(vehicle)"
      class="list-group-item d-flex justify-content-between align-items-center"
      [class.active]="vehicle.id === selectedVehicle?.id">
      <div>
        <span class="badge bg-primary me-2">{{ vehicle.id }}</span>
            {{vehicle.brandName}} / {{vehicle.modelName}}
        <small class="text-muted">
          ({{ vehicle.yil }} / {{ vehicle.km | number }} KM / {{ vehicle.yakitTuru }})
        </small>
      </div>

      <span class="badge" [ngClass]="vehicle.ilanda ? 'bg-success' : 'bg-secondary'">
        {{ vehicle.ilanda ? 'İlanda' : 'Pasif' }}
      </span>

    </li>
  </ul>
</div>


<div *ngIf="hasMore" class="text-center my-3">
  <button class="btn btn-primary" (click)="loadMore()">
    More Vehicles
  </button>
</div>