
<!-- <h1>Elvan Car App</h1>


<navbar></navbar>
<vehicle-detail></vehicle-detail>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">

                <vehicle-detail></vehicle-detail>
                <navbar></navbar>
                <router-outlet></router-outlet>

                
        </div>

    </div>
</div> -->


<h1 class="text-center mt-3">Elvan Car App</h1>
<vehicle-detail></vehicle-detail>
<navbar></navbar>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>
